
input {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #659EC7;
  font-family: "Helvetica";
  color: #FFF;
  border: 2px solid #659EC7;
}

input:hover {
  background-color: rgba(255,255,255,.5);
  border: 2px solid rgba(255,255,255,.5);
  color: #333;
  font-family: "Helvetica";
  cursor: pointer;
}

body {
  background-color: lightsteelblue;
  font-family: "Helvetica";
  margin-right: 190px;
  margin-left: 190px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  background-image: url(/doctor2.jpg);
}

li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 5px;
  margin-bottom: 15px;
  font-family: "Helvetica";
  border-radius: 5px;
  transition: background-color .2s ease-out;
}
 
li:hover {
  background-color: pink;
  cursor: pointer;
  font-family: "Helvetica";
}

.grid-container {
  display: grid;
  background-color: #2196F3;
  padding: 10px;
  grid-template-columns: auto auto auto auto auto;
  margin-bottom: 30px;
  grid-column-gap: 5px;
}

.grid-item-doc {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 5px;
  margin-bottom: 15px;
  font-family: "Helvetica";
  border-radius: 5px;
  transition: background-color .2s ease-out;
  grid-row-start: 1;
  grid-row-end: 8;
}

.grid-item-app {
  text-align: center;
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Helvetica";
  border-radius: 5px;
  transition: background-color .2s ease-out;
}

.grid-item-app-selected {
  text-align: center;
  color: #333;
  background-color: orange;
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Helvetica";
  border-radius: 5px;
  transition: background-color .2s ease-out;
}
.grid-item-app-unselected {
  text-align: center;
  color: #333;
  background-color: gray;
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Helvetica";
  border-radius: 5px;
  transition: background-color .2s ease-out;
}

.grid-item-app:hover {
  background-color: orange;
  cursor: pointer;
  font-family: "Helvetica";
}

ul{
  padding: 0;
  font-family: "Helvetica";
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  width: 290px;
  height: 320px;
  border: 0;
}

/*.bookingContainer {
  color: #444;
  font: bold;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

#pageHeading {
  color: #444;
  font: bold;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

#daysList {
  color: #444;
  font: bold;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

#doctorCard {
  color: #444;
  font: bold;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

#docPhoto {
  color: #444;
  font: bold;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

#docDetails {
  color: #444;
  font: bold;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.calendarContainer {
  color: #444;
  font: bold;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.calendarRow {
  color: #444;
  font: bold;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.calendarColumn {
  color: #444;
  font: bold;
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}*/


/* Dropdown styling */

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  align-self: center;
  align-content: center;
  margin-left: 410px;

}
.dd-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 222px;
  align-self: center;
}
.dd-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 38px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  cursor: default;
  position: relative;
  background-color: #fff;
  align-self: center;
}
.dd-header span {
  margin-right: 20px;
}
.dd-header-title {
  font-weight: 300;
  margin: 2px 20px;
  margin-right: 30px;
}
.angle-down {
  color: #000;
  margin-right: 20px;
}
.dd-list {
  z-index: 10;
  position: absolute;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px -1px #e8e8e8;
          box-shadow: 0 2px 5px -1px #e8e8e8;
  font-weight: 700;
  padding: 15px 0;
  max-height: 215px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.dd-list-item {
  width: 90%;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  padding: 8px 10px;
  line-height: 1.6rem;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dd-list-item.selected {
  color: #fff;
  background-color: steelblue;
  align-items: center;
  text-align: center;
}
.dd-list-item:hover {
  color: #fff;
  background-color: steelblue;
  align-items: center;
  text-align: center;
  align-self: center;
}
.dd-wrapper-single {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 265px;
}
.dd-wrapper-single .dd-header {
  border: 1px solid #ccc;
}
.dd-wrapper-single .dd-header .dd-header-name {
  font-weight: 400;
}
.dd-wrapper-single .dd-list {
  border: 1px solid #ccc;
  border-top: none;
}